.banner {
    // height: 400px;
    box-sizing: content-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('../img/background.png');
    background-size: cover;
    img {
        width: 300px;
        margin: 50px 0;
        // padding: 10px;
        border: 2px solid #cf5241;
        background-color: #fff;
        padding: 10px;
    }
}